# Ignore the executable (not be necessary with out-of-source build)
/molspin
/molspin-superlu
/Tests/molspintest

# Ignore all binaries
*.o

# Ignore output data and logfiles
*.dat
*.log

# Ignore user-specific settings
CMakeLists.txt.user
build
.idea
.vscode
*.Identifier

#Eigen-Free branch
Vendor/

#ignore personal msd files
*.py
*.csv
rp*.msd
CISS*.msd
FWW*
*.zip
msd-files/
*.out

#ignore vscode workspase files
MolSpin.code-workspace
MolSpin copy.code-workspace
makefile

